@import "reset";
@import "./variables/globals";
@import "./themes/dark";
@import "./themes/normal";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-app {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}