.modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
  transition: 0.3s transform;
  transform: scale(0.5);
  max-width: 60%;
  z-index: var(--modal-z-index);
}

.opened {
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: scale(1);
  }
}

.is_closing {
  .content {
    transform: scale(0.2);
    transition: 0.2s transform;
  }
}