.app_dark_theme {
  --bg-color: #353535;
  --inverted-bg-color: #212121;
  --primary-color: #FBF4F4;
  --secondary-color: #107310;
  --inverted-primary-color: #FBF4F4;
  --inverted-secondary-color: #FBF4F4;

  // Skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2de8;

  // Code
  --code-bg: #595959;

  // Card
  --card-bg: #494949
}