:root {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #3f3f3f;
  --primary-color: #4259fd;
  --secondary-color: #1f4df8;
  --inverted-primary-color: #1c1;
  --inverted-secondary-color: #107310;
  --red-color: #b70808;
}