:root {
  --bg-color: #F4F5FB;
  --inverted-bg-color: #2B2D3F;
  --primary-color: #2B2D3F;
  --secondary-color: #1f4df8;
  --inverted-primary-color: #F4F5FB;
  --inverted-secondary-color: #F4F5FB;
  --red-color: #b70808;

  // Skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // Code
  --code-bg: #fff;

  // Card
  --card-bg: #ccc
}