:root {
  --bg-color: #e7e7e7;
  --inverted-bg-color: #3f3f3f;
  --primary-color: #001073;
  --secondary-color: #1f4df8;
  --iverted-primary-color: #3865ff;
  --iverted-secondary-color: #04ff04;
  --red-color: #b70808;
}