.notifications {
    min-height: 150px;
    max-height: 300px;
    width: auto;
    min-width: 300px;
    overflow-y: auto;
}

.mobile_notifications {
    max-height: initial;
    width: auto;
    min-width: auto;
    overflow-y: auto;
}
