.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  column-gap: 20px;
  margin-left: auto;
}

.app_name {
  width: var(--sidebar-width);
  margin-left: 15px;
}